body {
  line-height: 1.5;
  font-size: 100%;
  color: black;
  max-width: 100%;
  margin: 0 auto;
  font-family: Arial, Verdana, sans-serif;
}

header {
  background-color: #009933;
}

h1 {
  display: block;
  font-size: 2.827em;
  padding: 5em auto 5em auto;
  font-weight: bold;
}

header h1, h2{
  padding: 1em 0 0 15%;
}

h2 {
  font-size: 1.999em;
}

h3 {
  font-size: 1.414em;
  border-bottom: solid 1px #990099;
}

h4 {
  font-size: 1em;
}

h5{
  font-size: 0.707em;
}
img {
  max-width: 100%;
}

a, a:link, a:active, a:visited {
  color: #990099;
  text-decoration: none;
}

nav ul{
  font-size: 156.25%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 5% 0.75em 5%;
  max-width: 100%;
}

li {
  display: none;
  width: 30%;
  padding: 0.5em 0 0.5em 0;
  margin: auto 0 auto 0;
}

article {
  margin: 1.25em 5% 1em 5%;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

@media screen and (min-width: 600px){

  body {
    max-width: 960px;
  }

  li {
    display: inline-block;
  }
}
