
article {
  margin: 1em 5% 1em 5%;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

.template {
  margin: 1em 5% 1em 5%;
  padding: 0.5em 0 0.5em 0;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}
.category, .time, .article-body{
  padding: 0.5em 0 0.5em 0;
}

.time {
  color: gray;
}

.fa-bars {
  float: right;
  margin: 0.25em 5% 0 0;
}

@media screen and (min-width: 640px){

  .template {

  }

  .fa-bars {
    display: none;
  }
};
